/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Basic stuff */

body {
    background-color: white;
    background-image: url(pics/bgpattern2.png);
}

#navcontainer {
    display: block;
    max-width: 350px;
    min-width: 320px;
    height: 500px;
    background-image: url(pics/navcontainer.png);
    border-bottom-left-radius: 2%;
    border-top-right-radius: 2%;
    box-shadow: 3px 3px 10px black;
}

nav ul { 
    width: 318px; 
    margin: 0 auto; 
    padding: 0; 
}
nav li { 
    list-style-type: none; 
    border: 1px solid white; 
    border-bottom: none; 
    margin-top: 50px; 
    height: 59px; 
}
nav li a:link { 
    display: block; 
    height: 59px; 
    background: linear-gradient(to bottom, #87eaec 0%,#1e5799 100%); 
} 
nav li a:visited { 
    color: #6b6b6b;
} 
nav li a:focus { 
    background: linear-gradient(to bottom, #1e5799 0%,#87eaec 100%);
} 
nav li a:hover { 
    background: linear-gradient(to bottom, #1e5799 0%,#87eaec 100%);
} 
nav li a:active { 
    color: #e9e9e9; 
}
ul li .active { 
      opacity: 0.5; 
}

.artcontainer figure{
    width: 200px;
    display: block;
    background: #4eb1ba;
}

.artcontainer img{
    width: 200px;
} 


/* #container{
    width: 480px;
    background-color: #2f2f2f;
}  */





/* Contact form */
#contactform { 
    max-width: 480px;
    margin: 0 auto;
}

fieldset { 
    display: block; 
    margin: 0 auto;
    background: none;
}  

fieldset input, #contactform select{
    width: 230px; 
    height: 35px; 
    padding: 5px 10px 10px 10px; 
    margin: 0 0 20px 0; 
    margin: 0 0 20px 0; 
	background: white;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; color: #f2f2f2; text-shadow: 0px -1px 0px #334f71; 
}

#contactform textarea{
    width: 230px;
    min-height: 80px;
    padding: 5px 10px 10px 10px; 
    margin: 0 0 20px 0;
    margin: 0 0 20px 0; 
	background: white;
	-moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; 
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
	color: #f2f2f2; 
	text-shadow: 0px -1px 0px #334f71;
}

#contactform input { 
    margin-right: 10%;
    width: 50%;
    height: 30%;
}

legend { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 1.5em; 
    color: #e9e9e9; 
    font-weight: bold; 
    line-height: 125%;
    margin: 0 auto;
   padding-bottom: 3%;
}

#contactform label { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    line-height: 120%; 
    color: #e9e9e9; 
    width: 75px; 
    display: block; 
    float: left; 
    text-align: right; 
    padding-right: 10px; 
    clear: left; 
}
    
fieldset input { 
    color: #B29E84;
}

#sendbutton { 
   /*  margin: 0 auto;
    width: 245px;
    height: 100px;
    background: linear-gradient(to bottom, #87eaec 0%,#1e5799 100%)
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; */
    width: 230px; 
    height: 60px; 
    float: left; 
    padding: 10px 15px; 
    margin-left: 25%;
    margin-right: 25%;
	background: linear-gradient(to bottom, #87eaec 0%,#1e5799 100%);
}

/* Typography */

h1 {
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 3.5em; 
    font-weight: bold;
    font-variant: small-caps; 
    color: #222930;
    text-shadow: 0 2px 3px white;
}

h2 {
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 2em; 
    font-weight: bold;
    color: #222930;
    text-shadow: 0 2px 3px white;
}


h3 {
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 1.25em; 
    font-weight: bold;
    color: #222930;
    text-shadow: 0 2px 3px white;
    margin-bottom: 10%;
}

nav li a{
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif; 
    text-decoration: none; 
    text-align: center; 
    font-size: 1.5em; 
    font-variant: small-caps; 
    letter-spacing: 0.1em;
    line-height: 225%;
    color: #222930;
    text-shadow: 0 1px 1px #c2eff3;
}

aside a{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 1.2em;
    color: #4eb1ba;
}

@media only screen and (max-width:480px){
   
body{
    background-image: none;
    background-color: #2f2f2f;
}  
   
.artcontainer figure{
    display: block;
    float: left;
    padding: 1.5%;
    margin: 1.6%;
}   
    
#logo{
    display: block;
    width: 200px;
    margin: 0 auto;
} 
    
#navcontainer{
    margin: 0 auto;
}
    

aside ul li{
    text-align: center;
    line-height: 150%;
    margin-top: 5%;
}
 
figure #aboutpg, #aboutpg img, #aboutpg figcaption{
    max-width: 384px;
    margin-left: 10%;
    margin-right: 10%;
} 

article{
    border: 1px solid white;
    -moz-border-radius: 10px; -webkit-border-radius: 10px; -o-border-radius: 10px; -ms-border-radius: 10px; border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
}

h1, h2, h3{
    text-align: center;
    margin-top: 10%;
    color: #287077;
    text-shadow: 0 1px 1px white;
} 

article h2{
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 2em; 
    font-weight: bold;
    color: #4eb1ba;
    text-shadow: none;
}

article footer{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    color: #e9e9e9;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 125%;
    font-style: italic;
}
    
p{
    color: #222930;
    margin-left: 10%;
    margin-right: 10%;
}

#about p, article p{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #e9e9e9;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 125%;
}

figcaption{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
} 

#contacthead{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #e9e9e9;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 125%;
}

figcaption a{
    color: white;
    font-style: italic;
}

#contacthead a{
    color: #e9e9e9;
    font-style: italic;
}
    
}

@media only screen and (max-width:320px){
 
body{
    background-image: none;
    background-color: #2f2f2f;
}  
    
.artcontainer{
    margin-top: 5%;
    margin-bottom: 5%;
}    
    
.artcontainer figure{
    float: none;
    margin: 0 auto;
    padding: 5%;
}   

#logo{
    display: block;
    width: 200px;
    margin: 0 auto;
} 
    
#navcontainer{
    max-width: 320px;
    box-shadow: none;
    background-image: none;
    background-color: #222930;
    margin: 0 auto;
}
    
aside ul li{
    text-align: center;
    line-height: 150%;
    margin-top: 5%;
} 
 
figure #aboutpg, #aboutpg img, #aboutpg figcaption{
    max-width: 250px;
    margin-left: 5%;
    margin-right: 5%;
} 
 
#contactform textarea{
    width: 200px;
} 
 
 
h1, h2, h3{
    text-align: center;
    margin-top: 10%;
    text-shadow: 0 1px 1px white;
} 

article h2{
    font-family: Verdana, Geneva, sans-serif; 
    font-size: 2em; 
    font-weight: bold;
    color: #4eb1ba;
    text-shadow: none;
}

article footer{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    color: #e9e9e9;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 125%;
    font-style: italic;
}
   
p{
    color: #222930;
    margin-left: 10%;
    margin-right: 10%;
}

#about p, article p{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #e9e9e9;
    font-family: Georgia, Times, "Times New Roman", serif;
    line-height: 125%;
}
  
figcaption{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
} 

#contacthead{
    text-shadow: none;
}

#sendmail{
    text-shadow: none;
    text-decoration: underline;
}

figcaption a{
    color: white;
    font-style: italic;
}

#contacthead a{
    color: #287077;
    font-style: italic;
}  
    
}